*{
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
}


.navigation:hover{
    fill: #F0B31C;
}

.main{
    height: 135vw;
}

.vep-pc-logo-path:hover{
    fill: #F0B31C;
}
.pages{
    display: flex;
    max-width: 25vw;
    justify-content: space-between;
    margin: auto;
    position: relative;
    right: 40px;
    bottom: 0px;
    gap: 40px;
    z-index: 30;
}
.pages span{
    font-family: languageFont, AvenirNext, "Microsoft YaHei", 微软雅黑, MicrosoftJhengHei, 华文细黑, STHeiti, MingLiu, sans-serif, WebRupee, ZAWGYI-ONE;
    font-weight: 400;
    font-size: 14px;
}
.pages span:hover{
    color: #F0B31C;
    cursor: pointer;
    transition: 0.2s ease-in;
}
nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px auto;
}

.search img{
    width: 30px;
}
.logo{
    width: 100px;
    z-index: 20;
}
.navigation{
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 20;
}
.img{
    height: 750px;  
}
.img img{
    width: 100%;
}
.section1{
    width: 100%;
    height: 45vw;
    background-color: #F5F7FA;
}
.section2{
    width: 100%;
    height: 45vw;
    background-color: #F5F7FA;
    position: relative;
}
.section1 > .second{
    width: 87%;
    margin: auto;
    height: 39vw;
    background-color: #F5F7FA;
    position: relative;
    top: 90px;
    border-radius: 40px;
    object-fit: contain;
    overflow: hidden;
}
.second{
    display: flex;
    position: relative;
}

.second-img{
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in;
    cursor: pointer;
}
.second-img:hover{
    transform: scale(110%);
    
}
.second-img img{
    height: 100%;
}
.second-words{
    position: absolute;
    top: 41%;
    left: 13%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 12px;
    color: white;
}

.learnmorefirst{
    display: flex;
    color: white;
    align-items: center;
    gap: 6px;
    padding-top: 35px;
    text-decoration: none;
    font-size: 1.25vw;
    font-family: "languageFont", "AvenirNext", "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif, "WebRupee", "ZAWGYI-ONE";
}
.last-svg img{
    width: 75px;
}
.mid{
    font-size: 27px;
    font-weight: 55000;
    font-family: languageFont, AvenirNext, "Microsoft YaHei", 微软雅黑, MicrosoftJhengHei, 华文细黑, STHeiti, MingLiu, sans-serif, WebRupee, ZAWGYI-ONE;    

}
.learnmorefirst a{
    text-decoration: none;
    color: #fff;
}
.arrowfirst{
    font-size: 15px;
    margin-top: 4px;
}
.arrowfirst:hover{
    color: #F0B31C;
    cursor: pointer;
}
.learnmorefirst:hover{
    color: #F0B31C;
    font-size: 1.45vw;
}








.section2 > .third{
    width: 87%;
    margin: auto;
    height: 39vw;
    background-color: #F5F7FA;
    position: relative;
    top: 45px;
    border-radius: 40px;
    object-fit: contain;
    overflow: hidden;
}
.third-words{
    position: absolute;
    top: 41%;
    left: 13%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 50px;
}



.para1 img{
    position: relative;
    bottom: 370px;
    left: 174px;
    width: 74px;
    z-index: 20;
}
.para1 .mid{
    color: white;
    position: absolute;
    top: 285px;
    left: 170px;
    font-size: 1.75vw;
    font-family: "languageFont", "AvenirNext", "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif, "WebRupee", "ZAWGYI-ONE";
    font-weight: 400;
}
.para1 a{
    text-decoration: none;
    color: white;
    position: relative;
    bottom: 250px;
    left: 90px;
    font-size: 1.25vw;
    font-family: "languageFont", "AvenirNext", "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif, "WebRupee", "ZAWGYI-ONE";
    z-index: 20;
    transition: all .5s ease-out;
}

.learn{
    transition: 0.3s;
    text-decoration: none;
}
.learnmore{
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    font-size: 1.25vw;
    font-family: "languageFont", "AvenirNext", "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif, "WebRupee", "ZAWGYI-ONE";
}
.learnmore a{
    text-decoration: none;
    color: black;
}
.last img{
    width: 360px;
} 
.arrow{
    font-size: 15px;
    margin-top: 4px;
}
.learnmore:hover{
    color: #F0B31C;
    font-size: 1.45vw;
}
.learn:hover{
    color: #F0B31C;
}
.third-img{
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in;
    cursor: pointer;
}
.third-img img{
    height: 100%;
}
.third-img:hover{
    transform: scale(110%);
}
.learnmore .arrow i:hover{
    color: #F0B31C;
    cursor: pointer;
}




.foot{
    background-color: #242933;
    width: 100%;
    height: 36vw;
    margin-top: 49px;

}
.listelements li{
    list-style: none;
}
.listelements{
    display: flex;
    justify-content: left;
    padding-left: 79px;
    gap: 7px;
}
li{
    font-weight: 400;
    font-size: 14px;
    font-family: languageFont, AvenirNext, "Microsoft YaHei", 微软雅黑, MicrosoftJhengHei, 华文细黑, STHeiti, MingLiu, sans-serif, WebRupee, ZAWGYI-ONE;
    line-height: 18px;
    margin: 20px;
    color: #8a8f99;
}

.heading{
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    padding-bottom: 18px;
    padding-top: 55px;
}
.item:hover{
    color: #F0B31C;
    transition: 0.2s ease-in;
    cursor: pointer;
    
}
.bottom-box{
    background-color: #242933;
    margin-top: 35px;
    height: 84px;
    width: 100%;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 98%;
    width: 87%;
    background-color: #242933;
    margin: auto;
    position: relative;
    top: 2%;
    border-top: 1px solid #8a8f9989;

    
}
.para a{
    color: #fff;
    text-decoration: none;
    color: #8a8f99;
    font-weight: 500;
}
.para{
    display: flex;
    gap: 10px;
    font-family: languageFont, AvenirNext, "Microsoft YaHei", 微软雅黑, MicrosoftJhengHei, 华文细黑, STHeiti, MingLiu, sans-serif, WebRupee, ZAWGYI-ONE;
    font-weight: 500;
    font-size: 12px;
    color: #8a8f99;
}
.region a{
    font-size: 14px;
    font-family: languageFont, AvenirNext, "Microsoft YaHei", 微软雅黑, MicrosoftJhengHei, 华文细黑, STHeiti, MingLiu, sans-serif, WebRupee, ZAWGYI-ONE;
    font-weight: 500;
    font-size: 12px;
    color: #8a8f99;
    text-decoration: none;
}
.region{
    display: flex;
    gap: 5px;
}
.fa-globe{
    font-size: 20px;
}